<!DOCTYPE html PUBLIC "✰Häst är Bäst!✰">
<!--[if IE]><html dir="ltr" class="no-js ie" lang="sv"><![endif]--><!--[if !IE]><!--><html dir="ltr" class="no-js" lang="sv"><!--<![endif]--><head>
	<meta charset="utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>✰ {{ page.title }} ✰</title>
	<meta name="description" content="{{ site.description }}" />
	<link type="text/plain" rel="author" href="./humans.txt" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/kusar/stil-filen.css" />
	<script data-main="/kusar/m" src="http://cdnjs.cloudflare.com/ajax/libs/require.js/1.0.1/require.min.js"></script>
</head><body>
	<header><big>→ {{ site.title }}</big><span>{{ site.description }}</span></header>
	<article>{{ content }}</article>
	<footer><!-- Uhm, Vad skall man lääga här då? --></footer>
</body></html>
